@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --primary: hsl(300, 65%, 11%);
  --primary-dark: hsl(302, 87%, 6%);
  --primary-light: hsl(300, 58%, 16%);
  --primary-extra-light: hsl(300, 41%, 23%);
  --primary-shadow: hsla(302, 86%, 6%, 0.702);
  --gray-dark: hsl(300, 21%, 36%);
  --gray: hsl(295, 20%, 61%);
  --gray-light: hsl(300, 31%, 74%);
  --gray-extra-light: hsl(293, 70%, 88%);
  --light: hsl(319, 100%, 95%);
  --secondary: hsl(66, 100%, 70%);
  --secondary-tint: hsla(78, 100%, 70%, 0.1);
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

/* html {
  --primary: #0a192f;
  --primary-dark: #020c1b;
  --primary-light: #112240;
  --primary-extra-light: #233554;
  --primary-shadow: rgba(2, 12, 27, 0.7);
  --gray-dark: #495670;
  --gray: rgb(136, 146, 176);
  --gray-light: #a8b2d1;
  --gray-extra-light: #ccd6f6;
  --light: rgb(230, 241, 255);
  --secondary: #64ffda;
  --secondary-tint: rgba(100, 255, 218, 0.1);
  --font-sans: 'Poppins', sans-serif;
  --font-mono: 'Spline Sans Mono', monospace;
} */

/* BASE STYLES */
body {
  background: var(--primary);
  color: var(--gray);
}
html {
  height: 100vh;
}

body {
  min-height: 100%;
  font-weight: 300;
}
/* BASE STYLES */

/* Components layer */
@layer components {
  .top-level-px {
    @apply px-12;
  }

  .intro-responsive-heading {
    @apply font-bold text-gray-extra-light;
    font-size: clamp(2.5rem, 8vw, 5rem);
  }

  .intro-responsive-heading-sub {
    @apply font-semibold;
    font-size: clamp(2rem, 4vw, 3.5rem);
  }
}
/* Components layer */

/*React transition group*/
.modal-fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.modal-fade-enter-active {
  opacity: 1;
  transition: all 300ms ease-in;
  transform: translateX(0%);
}

.modal-fade-exit {
  opacity: 0;
  transition: all 300ms ease-in;
  transform: translateX(0%);
}

.modal-fade-exit-active {
  opacity: 0;
  transition: all 300ms ease-in;
  transform: translateX(100%);
}
/*React transition group*/

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox  */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
