@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --primary: #0a192f;
  --primary-dark: #020c1b;
  --primary-light: #112240;
  --primary-extra-light: #233554;
  --primary-shadow: rgba(2, 12, 27, 0.7);
  --gray-dark: #495670;
  --gray: #8892b0;
  --gray-light: #a8b2d1;
  --gray-extra-light: #ccd6f6;
  --light: #e6f1ff;
  --secondary: #64ffda;
  --secondary-tint: rgba(100, 255, 218, 0.1);
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

/* BASE STYLES */
body {
  background: var(--primary);
  color: var(--gray);
}
html {
  height: 100%;
}

body {
  min-height: 100%;
}
/* BASE STYLES */

/* Components layer */
@layer components {
  .top-level-px {
    @apply px-12;
  }
}
/* Components layer */

/*React transition group*/
.modal-fade-enter {
  opacity: 0;
  transform: translateX(100%);
}

.modal-fade-enter-active {
  opacity: 1;
  transition: all 300ms ease-in;
  transform: translateX(0%);
}

.modal-fade-exit {
  opacity: 0;
  transition: all 300ms ease-in;
  transform: translateX(0%);
}

.modal-fade-exit-active {
  opacity: 0;
  transition: all 300ms ease-in;
  transform: translateX(100%);
}
/*React transition group*/
